<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>SIMOBILE</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/pengaturan" routerDirection="forward" button detail="false">
            <ion-icon name="settings-outline" slot="start"></ion-icon>
            <ion-label>Pengaturan</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="/tentang" routerDirection="forward" button detail="false">
            <ion-icon name="help-circle-outline" slot="start"></ion-icon>
            <ion-label>Tentang Aplikasi</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item button detail="false" (click)="konfirmasiLogout()">
            <ion-icon name="exit-outline" slot="start"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
