<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Keranjang Belanja</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Keranjang Belanja</ion-title>
    </ion-toolbar>
  </ion-header>

 
  <div *ngIf="cartItems.length === 0" class="ion-text-center ion-padding">
    <p>Keranjang kamu masih kosong.</p>
  </div>

  <ion-card *ngFor="let item of cartItems">
    <ion-card-header>
      <ion-card-title>{{ item.nama }}</ion-card-title>
      <ion-card-subtitle>Rp {{ item.harga | number }} / item</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>Subtotal: <strong>Rp {{ item.harga * item.qty | number }}</strong></p>
      
      <div class="ion-margin-top ion-text-end">
        <ion-button size="small" fill="outline" (click)="kurangQty(item)">-</ion-button>
        <span style="margin: 0 12px; font-weight: bold;">{{ item.qty }}</span>
        <ion-button size="small" fill="outline" (click)="tambahQty(item)">+</ion-button>
      </div>
    </ion-card-content>
  </ion-card>


  <ion-card *ngIf="cartItems.length > 0">
    <ion-card-content>
      <h3><strong>Total Pembayaran:</strong></h3>
      <h2 style="color: var(--ion-color-primary);">Rp {{ totalHarga | number }}</h2>
      
      <ion-button expand="block" color="success" class="ion-margin-top" (click)="checkout()">
        Simulasi Checkout
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
