<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Tentang Aplikasi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>SIMOBILE</h1>
  <p>Prototipe aplikasi kasir mobile untuk warung Toko Makmur Jaya. Pemilik warung bisa melihat ringkasan penjualan, mencari dan mengelola barang, lalu mencatat transaksi dari ponsel.</p>
  <p>Dibuat dengan Ionic Angular untuk UTS mata kuliah Hybrid Mobile Programming, Universitas Surabaya. Data hanya disimpan di dalam aplikasi dan kembali ke data awal saat aplikasi dibuka ulang.</p>
</ion-content>
